In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import networkx as nx
from pyvis import network as net
%matplotlib inline

In [12]:
data = pd.read_csv("eu-car-trade.csv")
data = data[data["TIME_PERIOD"] == 2022]
data["reporter"] = data["reporter"].astype(str)
data["partner"] = data["partner"].astype(str)
data.dtypes

DATAFLOW        object
LAST UPDATE     object
freq            object
reporter        object
partner         object
product          int64
flow             int64
indicators      object
TIME_PERIOD      int64
OBS_VALUE        int64
OBS_FLAG       float64
dtype: object

In [13]:
filteredData = data[data["OBS_VALUE"] > 200000000] # Only consider export values over 100 million Euros
filteredData["reporter"].value_counts()
filteredData
#filteredData.to_csv("filtered-data.csv", index = False)

,DATAFLOW,LAST UPDATE,freq,reporter,partner,product,flow,indicators,TIME_PERIOD,OBS_VALUE,OBS_FLAG
50,ESTAT:DS-018995(1.0),17/10/23 14:41:00,A,AT,BE,781,1,VALUE_IN_EUROS,2022,450026180,NaN
53,ESTAT:DS-018995(1.0),17/10/23 14:41:00,A,AT,BE,781,2,VALUE_IN_EUROS,2022,433252066,NaN
114,ESTAT:DS-018995(1.0),17/10/23 14:41:00,A,AT,CN,781,2,VALUE_IN_EUROS,2022,650758147,NaN
128,ESTAT:DS-018995(1.0),17/10/23 14:41:00,A,AT,CZ,781,1,VALUE_IN_EUROS,2022,537389538,NaN
131,ESTAT:DS-018995(1.0),17/10/23 14:41:00,A,AT,CZ,781,2,VALUE_IN_EUROS,2022,454697203,NaN
...,...,...,...,...,...,...,...,...,...,...,...
12515,ESTAT:DS-018995(1.0),17/10/23 14:41:00,A,SK,IT,781,2,VALUE_IN_EUROS,2022,1031413951,NaN
12645,ESTAT:DS-018995(1.0),17/10/23 14:41:00,A,SK,NL,781,2,VALUE_IN_EUROS,2022,394404072,NaN
12675,ESTAT:DS-018995(1.0),17/10/23 14:41:00,A,SK,PL,781,2,VALUE_IN_EUROS,2022,668597863,NaN
12718,ESTAT:DS-018995(1.0),17/10/23 14:41:00,A,SK,SE,781,2,VALUE_IN_EUROS,2022,444056747,NaN
12774,ESTAT:DS-018995(1.0),17/10/23 14:41:00,A,SK,US,781,2,VALUE_IN_EUROS,2022,2157210083,NaN

In [14]:
graph = nx.from_pandas_edgelist(filteredData, "reporter", "partner", "OBS_VALUE")

In [15]:
d = dict(graph.degree)
#Updating dict
d.update((x, y) for x, y in d.items())
nx.set_node_attributes(graph,d,'size') # Set node size to degree

In [16]:
vis = net.Network(notebook = True, cdn_resources = "in_line", directed = True)
vis.repulsion()
vis.show_buttons(filter_=['physics']) 
vis.from_nx(graph)
vis.show("network-2022.html")