In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import networkx as nx
from pyvis import network as net
%matplotlib inline

In [2]:
data = pd.read_csv("eu-car-trade.csv")
data = data[data["TIME_PERIOD"] == 2022]
data["reporter"] = data["reporter"].astype(str)
data["partner"] = data["partner"].astype(str)
data.dtypes

DATAFLOW        object
LAST UPDATE     object
freq            object
reporter        object
partner         object
product          int64
flow             int64
indicators      object
TIME_PERIOD      int64
OBS_VALUE        int64
OBS_FLAG       float64
dtype: object

In [3]:
filteredData = data[data["OBS_VALUE"] > 200000000] # Only consider export values over 200 million Euros
print(filteredData["reporter"].value_counts())
filteredData
#filteredData.to_csv("filtered-data.csv", index = False)

DE    76
BE    42
ES    41
FR    33
CZ    31
IT    30
SE    25
AT    21
SK    21
PL    20
HU    18
NL    17
RO    13
SI    13
PT     9
FI     5
IE     5
DK     5
EE     3
LT     3
LU     3
GR     2
HR     2
LV     2
BG     1
Name: reporter, dtype: int64

,DATAFLOW,LAST UPDATE,freq,reporter,partner,product,flow,indicators,TIME_PERIOD,OBS_VALUE,OBS_FLAG
50,ESTAT:DS-018995(1.0),17/10/23 14:41:00,A,AT,BE,781,1,VALUE_IN_EUROS,2022,450026180,NaN
53,ESTAT:DS-018995(1.0),17/10/23 14:41:00,A,AT,BE,781,2,VALUE_IN_EUROS,2022,433252066,NaN
114,ESTAT:DS-018995(1.0),17/10/23 14:41:00,A,AT,CN,781,2,VALUE_IN_EUROS,2022,650758147,NaN
128,ESTAT:DS-018995(1.0),17/10/23 14:41:00,A,AT,CZ,781,1,VALUE_IN_EUROS,2022,537389538,NaN
131,ESTAT:DS-018995(1.0),17/10/23 14:41:00,A,AT,CZ,781,2,VALUE_IN_EUROS,2022,454697203,NaN
...,...,...,...,...,...,...,...,...,...,...,...
12515,ESTAT:DS-018995(1.0),17/10/23 14:41:00,A,SK,IT,781,2,VALUE_IN_EUROS,2022,1031413951,NaN
12645,ESTAT:DS-018995(1.0),17/10/23 14:41:00,A,SK,NL,781,2,VALUE_IN_EUROS,2022,394404072,NaN
12675,ESTAT:DS-018995(1.0),17/10/23 14:41:00,A,SK,PL,781,2,VALUE_IN_EUROS,2022,668597863,NaN
12718,ESTAT:DS-018995(1.0),17/10/23 14:41:00,A,SK,SE,781,2,VALUE_IN_EUROS,2022,444056747,NaN
12774,ESTAT:DS-018995(1.0),17/10/23 14:41:00,A,SK,US,781,2,VALUE_IN_EUROS,2022,2157210083,NaN

In [4]:
codes = pd.read_csv("country-codes.csv")
codes

                  Name Code
0          Afghanistan   AF
1        Åland Islands   AX
2              Albania   AL
3              Algeria   DZ
4       American Samoa   AS
..                 ...  ...
244  Wallis and Futuna   WF
245     Western Sahara   EH
246              Yemen   YE
247             Zambia   ZM
248           Zimbabwe   ZW

[249 rows x 2 columns]

In [21]:
visnet = net.Network(notebook = True, cdn_resources = "in_line", directed = True)

for idx, row in filteredData.iterrows():
  
    reporterImage = "https://flagicons.lipis.dev/flags/4x3/" + row['reporter'].lower() + ".svg"
    partnerImage = "https://flagicons.lipis.dev/flags/4x3/" + row['partner'].lower() + ".svg"
    
    visnet.add_node(n_id = row['reporter'], label = codes[codes["Code"] == row['reporter']]["Name"].item(), title = row['reporter'], image = reporterImage, shape = 'circularImage')
    visnet.add_node(n_id = row['partner'], label = codes[codes["Code"] == row['partner']]["Name"].item(), title = row['partner'], image = partnerImage, shape = 'circularImage')
    visnet.add_edge(source = row['reporter'], to = row['partner'], weight = int(row['OBS_VALUE']))

visnet.repulsion()
visnet.show("network-2022.html")

In [16]:
visnet2 = net.Network(notebook = True, cdn_resources = "in_line", directed = True)
visnet2.add_node('node1', 'node 1', image = "https://flagicons.lipis.dev/flags/4x3/de.svg", shape = 'circularImage')
visnet2.show('test.html')